{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h2>Tickets</h2>
        {% for ticket in tickets %}
            <div class="line-card">
                <div class="ticket--id">
                    {{ ticket.id }}
                </div>
                <div class="ticket--name">
                    {{ ticket.title }}
                </div>
                <div class="ticket--status">
                    <div class="status status--{{ ticket.status }}">
                        {% if ticket.status == 0 %}
                            En attente
                        {% elseif ticket.status == 1 %}
                            En cours
                        {% else %}
                            Terminé
                        {% endif %}
                    </div>
                </div>
{#                <div class="ticket--mantainer">#}
{#                    <a href="#" class="ticket--badge">#}
{#                        <ion-icon name="build-outline"></ion-icon>#}
{#                        {{ ticket.mantainer.name }}#}
{#                    </a>#}
{#                </div>#}
                <div class="ticket--date-max">
                    {{ ticket.finalDate|date("d/m/Y") }}
                </div>
                <div class="ticket--product">
                    <a href="{{ path('app_customer_product_show', {id: ticket.customerProduct.product.id}) }}" class="ticket--badge">
                        <ion-icon name="barbell-outline"></ion-icon>
                        {{ ticket.customerProduct.product.name }}
                    </a>
                </div>
                <div class="ticket--customer">
                    <a href="" class="ticket--badge">
                        <ion-icon name="briefcase-outline"></ion-icon>
                        {{ ticket.customerProduct.user.name }}
                    </a>
                </div>
                <div class="ticket--actions">
                    <a href="{{ path('app_ticket_show', {id: ticket.id}) }}" class="ticket--badge">
                        <ion-icon name="eye-outline"></ion-icon>
                        Voir
                    </a>
                </div>
            </div>
        {% endfor %}
        <h2>Produits</h2>
        {% for product in products %}
            <div class="line-card">
                <div>
                    {{ product.product.name }}
                </div>
                <div>
                    {{ product.product.brand }}
                </div>
                <div>
                    {{ product.product.model }}
                </div>
                <div>
                    {{ product.product.subGamme }}
                </div>
                <div>
                    {{ product.serialNumber }}
                </div>
                <div class="ticket--actions">
                    <a href="{{ path('app_customer_product_show', {id: product.id}) }}" class="ticket--badge">
                        <ion-icon name="eye-outline"></ion-icon>
                        Voir
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
