{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <h2>Tickets</h2>
        {% for ticket in tickets %}
            <div class="line-card">
                <div class="ticket--id">
                    {{ ticket.id }}
                </div>
                <div class="ticket--name">
                    {{ ticket.title }}
                </div>
                <div class="ticket--status">
                    <div class="status status--{{ ticket.status }}">
                        {% if ticket.status == 0 %}
                            En attente
                        {% elseif ticket.status == 1 %}
                            En cours
                        {% else %}
                            Terminé
                        {% endif %}
                    </div>
                </div>
{#                <div class="ticket--mantainer">#}
{#                    <a href="#" class="ticket--badge">#}
{#                        <ion-icon name="build-outline"></ion-icon>#}
{#                        {{ ticket.mantainer.name }}#}
{#                    </a>#}
{#                </div>#}
                <div class="ticket--date-max">
                    {{ ticket.finalDate|date("d/m/Y") }}
                </div>
                <div class="ticket--product">
                    <a href="{{ path('app_customer_product_show', {id: ticket.customerProduct.product.id}) }}" class="ticket--badge">
                        <ion-icon name="barbell-outline"></ion-icon>
                        {{ ticket.customerProduct.product.name }}
                    </a>
                </div>
                <div class="ticket--customer">
                    <a href="" class="ticket--badge">
                        <ion-icon name="briefcase-outline"></ion-icon>
                        {{ ticket.customerProduct.user.name }}
                    </a>
                </div>
                <div class="ticket--actions">
                    <a href="{{ path('app_ticket_show', {id: ticket.id}) }}" class="ticket--badge">
                        <ion-icon name="eye-outline"></ion-icon>
                        Voir
                    </a>
                </div>
            </div>
        {% endfor %}
        <h2>Clients</h2>
        {% for customer in customers %}
            <div class="line-card">
                <div>
                    <a href="#" class="ticket--badge">
                        <ion-icon name="briefcase-outline"></ion-icon>
                        {{ customer.name }}
                    </a>
                </div>
                <div class="ticket--actions">
                    <a href="#" class="ticket--badge">
                        <ion-icon name="eye-outline"></ion-icon>
                        Voir
                    </a>
                </div>
            </div>
        {% endfor %}
        <h2>Techniciens</h2>
        {% for mantainer in mantainers %}
            <div class="line-card">
                <div>
                    <a href="#" class="ticket--badge">
                        <ion-icon name="briefcase-outline"></ion-icon>
                        {{ mantainer.name }}
                    </a>
                </div>
                <div class="ticket--actions">
                    <a href="#" class="ticket--badge">
                        <ion-icon name="eye-outline"></ion-icon>
                        Voir
                    </a>
                </div>
            </div>
        {% endfor %}
        <h2>Produits</h2>
        {% for product in products %}
            <div class="line-card">
                <div>{{ product.name }}</div>
                <div>{{ product.brand }}</div>
                <div>{{ product.model }}</div>
                <div>{{ product.subGamme }}</div>
                <div>{{ product.type }}</div>
                <div>
                    <a href="{{ path('app_product_show', {'id': product.id}) }}">voir</a>
                    <a href="{{ path('app_product_edit', {'id': product.id}) }}">modifier</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
