{% extends 'base.html.twig' %}

{% block title %}CustomerProduct index{% endblock %}

{% block body %}
    <h1>CustomerProduct index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>SerialNumber</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for customer_product in customer_products %}
            <tr>
                <td>{{ customer_product.id }}</td>
                <td>{{ customer_product.serialNumber }}</td>
                <td>
                    <a href="{{ path('app_ticket_new', {'customerProduct': customer_product.id}) }}">add ticket</a>
                    <a href="{{ path('app_customer_product_show', {'id': customer_product.id}) }}">show</a>
                    <a href="{{ path('app_customer_product_edit', {'id': customer_product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_customer_product_new') }}">Create new</a>
{% endblock %}
