{% extends 'base.html.twig' %}

{% block title %}Produit client{% endblock %}

{% block body %}
    <div class="container">
        <h1>Ajouter un produit à un client</h1>

        {{ include('customer_product/_form.html.twig') }}

        <a href="{{ path('app_customer_product_index') }}">retour</a>
    </div>
{% endblock %}
