{% extends 'base.html.twig' %}

{% block title %}CustomerProduct{% endblock %}

{% block body %}
    <h1>CustomerProduct</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ customer_product.id }}</td>
            </tr>
            <tr>
                <th>SerialNumber</th>
                <td>{{ customer_product.serialNumber }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_customer_product_index') }}">back to list</a>

    <a href="{{ path('app_customer_product_edit', {'id': customer_product.id}) }}">edit</a>

    {{ include('customer_product/_delete_form.html.twig') }}
{% endblock %}
