{% extends 'base.html.twig' %}

{% block title %}Nouveau ticket{% endblock %}

{% block body %}
<div class="container">
    <h1>Créer un nouveau ticket</h1>

    {{ include('ticket/_form.html.twig') }}

    <a class="button danger" href="{{ path('app_ticket_index') }}">retour</a>
</div>
{% endblock %}
