{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn"><ion-icon name="checkmark-outline"></ion-icon> {{ button_label|default('Créer') }}</button>
    {{ form_end(form) }}
{% endblock %}
