{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <div class="container">
        <h1>Liste des produits</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Marque</th>
                <th>Modèle</th>
                <th>Sous-gamme</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.brand }}</td>
                    <td>{{ product.model }}</td>
                    <td>{{ product.subGamme }}</td>
                    <td>{{ product.type }}</td>
                    <td>
                        <a href="{{ path('app_product_show', {'id': product.id}) }}">voir</a>
                        <a href="{{ path('app_product_edit', {'id': product.id}) }}">modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="button success" href="{{ path('app_product_new') }}">Ajouter un produit</a>
    </div>
{% endblock %}
