{% extends 'base.html.twig' %}

{% block title %}Nouveau produit{% endblock %}

{% block body %}
    <div class="container">
        <h1>Créer un nouveau produit</h1>

        {{ include('product/_form.html.twig') }}

        <a href="{{ path('app_product_index') }}">retour</a>
    </div>
{% endblock %}
