@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$blue: #003e5c;
$dark-blue: #002B3F;
$yellow: #E7E349;
$red: #FF312E;
$green: #058C42;

$blue: #003e5c;
$yellow: #E7E349;
$red: #FF312E;
$green: #058C42;

nav {
  display: flex;
  justify-content: center;
  background: url(../images/bgblue.jpg) repeat;
  background-size: 75px;
  color: #fff;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  .container {
    width: 100%;
    max-width: 1140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menu {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    .menu-link {
      color: #fff;
      text-decoration: none;
      padding: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
    }
  }
  .submenu {
    list-style: none;
    a {
      color: white;
      text-align: right;
    }
  }
}



* {

  body {
    margin: 0;
  }

  font-family: 'Lato', sans-serif;

  .content {
    display: flex;
    justify-content: center;

    .container {
      width: 100%;
      max-width: 1140px;

      .button {
        display: flex;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        padding: 10px 25px;
        border-radius: 25px;
        border: none;
        cursor: pointer;
        transition: all 0.2s;
        align-items: center;
        justify-content: center;
      }

      .button:hover, .button:focus, .button:active {
        //à voir avec Nico
      }

      form {
        div {
          display: grid;
        }

        label {
          display: block;
          font-size: 16px;
          padding: 5px;
        }
        input, select, .input-file {
          border-radius: 50px;
          font-size: 16px;
          background: #e8e8e8;
          border: none;
          padding: 5px 10px;
          min-height: 20px;
        }
        select {
          padding: 5px 40px 5px 10px;
          appearance: none;
          background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
          background-repeat: no-repeat;
          background-position: right 1rem center;
          background-size: 1em;
        }
        textarea {
          border-radius: 10px;
          font-size: 16px;
          background: #e8e8e8;
          border: none;
          padding: 5px 10px;
          min-height: 100px;
        }
        textarea {
          border-radius: 10px;
          font-size: 16px;
          background: #e8e8e8;
          border: none;
          padding: 5px 10px;
          min-height: 100px;
        }
      }

      .success {
        color: #fff;
        background: $green !important;
      }

      .warning {
        color: #000;
        background: $yellow !important;
      }

      .danger {
        color: #fff;
        background: $red !important;
      }

      .primary {
        color: #fff;
        background: $blue !important;
      }

      .secondary {
        color: #fff;
        background: $dark-blue !important;
      }

    }
  }
}


table {
  width: 100%;

  .line-card {
    width: 100%;
  }
}

.line-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  padding: 20px 20px;
  width: calc(100% - 40px);
  background-color: $blue;
  border-radius: 20px;
  color: white;
  gap: 20px;
  .ticket--badge {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
  }
  div {
    width: 14%;
    &.status {
      width: auto;
      border-radius: 20px;
      padding: 5px 0;
      text-align: center;
      &--0 {
        background-color: $red;
        color: white;
      }
      &--1 {
        background-color: $yellow;
        color: black;
      }
      &--2 {
        background-color: $green;
        color: white;
      }
    }
  }
  a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, .3);
    transition: .2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    &:hover {
      background-color: rgba(0, 0, 0, .5);
    }
  }
}

.c-6 {
  width: 59.99%;
}
.c-4 {
  width: 39.99%;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 0 20px;
  }
  .line-card {
    flex-direction: column;
    div {
      width: 80%;
    }
  }
}
