<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

    <nav>
        <div class="container">
            <a href="{{ path('index_admin') }}">
                <img width="100px" src="{{ asset('build/images/logo.png') }}" alt="Logo">
            </a>
            <ul class="menu">
                {% if is_granted('ROLE_USER') %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="menu-item">
                            <a class="menu-link" href="{{ path('app_product_new') }}">
                                <ion-icon name="add-outline"></ion-icon>
                                Ajouter une machine
                            </a>
                        </li>
                    {% endif %}
                    <li class="menu-item">
                        <ul class="submenu">
                            <li class="submenu-item">
                                <a href="{{ path('app_logout') }}">
                                    Deconnexion
                                </a>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <li class="menu-item">
                        <ul class="submenu">
                            <li class="submenu-visible">
                                <a href="{{ path('app_login') }}">
                                    Se connecter
                                </a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>


    <div class="content">
        {% block body %}{% endblock %}
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </body>
</html>
